.footer{
        color: #F4C4C3;
}

.followText{
        font-family: 'poppins', sans-serif;
        font-size: 35px;
        font-weight: 100;
        font-style: normal;
        color: #ffffff;
        background-color: #F4C4C3;
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.followText a {
        display: inline-block;
        margin-right: 10px; /* Add some spacing between the text and the cons */
        transition: transform 0.3s ease; /* Add a transition for smooth animation */
      }
    
      /* Transition when hovering over the social media icons */
      .followText a:hover {
        transform: scale(1.2); /* Increase the size by 20% on hover */
      }

.twitter{
        height: 65px;
        margin-left: 1px;
        transition: transform 0.3 seconds ease;
}

.instagram{
        height: 65px;
        margin-right: 20px;
}

.facebook{
        height: 69px;
}

